@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster");

:root {
  --black: #1e2022;
  --grey: #e0e0e0;
  --darkgreen: #2e8b57;
  --lightgreen: #61bc84;
}